<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>波动光学模拟</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='sty.css')}}">
    </head>
    <body>
        <script type="text/javascript">
            var classInheritDict = {{classInheritForJS|tojson}};
            var subClassesInfo = {{subClassesInfoForJS|tojson}};
            var rDict = {{rDict|tojson}};
            var groupFlag = 0;
        </script>
        <script type="text/javascript" src="{{url_for('static', filename='jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='jquery-ui.min.js') }}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='three.min.js') }}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='control.js') }}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='main.js') }}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='showElement.js') }}"></script>
        <div id='nav'>
        <ul>
            # for bc_key, bc_value in classInherit.items()
                <li id='{{bc_key}}' class='chooseBaseItem'>{{rDict[bc_key]}}
                    <ul>
                    # for c_key, c_value in bc_value['subClasses'].items()
                        <li id='{{c_key}}' class='chooseChildItem'>{{rDict[c_key]}}</li>
                    # endfor
                    </ul>
                </li>
            # endfor
            <li>组
                <ul>
                    <li id='groupBegin' class='group'>组开始</li>
                    <li id='groupEnd' class='group'>组结束</li>
                </ul>
            </li>
        </ul>
        </div>
        <div id='paraPan'>
            <table id='setPara'>
            </table>
            <button id='add' class='addButton'>添加</button>
            <button id='change' class='listButton'>修改</button>
            <button id='del' class='listButton'>删除</button>
        </div>
        <div id='elemListWithButton'>
            <ul id='elemList'>已添加项：</ul>
            <button id='calc'>计算</button>
            <p id='status'>Done</p>
        </div>
        <div id='three'></div>
    </body>
</html>
